name: CI Pipeline

on:
  push:
    branches: [ main, dev ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - name: Cache pip packages
        uses: actions/cache@v4
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('requirements.txt') }}
          restore-keys: |
            ${{ runner.os }}-pip-

      - name: Install dependencies
        run: |
          pip install -r requirements.txt

      -  name: Setup Node.js
         uses: actions/setup-node@v3
         with:
           node-version: '22'

      - name: Install CML
        run: npm install -g @dvcorg/cml

      - name: Authenticate to Google Cloud
        env:
          GCP_SERVICE_ACCOUNT_KEY: ${{ secrets.GCP_SERVICE_ACCOUNT_KEY }}
        run: |
          echo "$GCP_SERVICE_ACCOUNT_KEY" > gcp-key.json
          gcloud auth activate-service-account --key-file=gcp-key.json
          gcloud config set project heroic-throne-473405-m8
          export GOOGLE_APPLICATION_CREDENTIALS="gcp-key.json"

      - name: Train model
        env:
          GOOGLE_APPLICATION_CREDENTIALS: gcp-key.json
        run: |
          python train.py

      - name: Upload trained model to GCS
        env:
          GOOGLE_APPLICATION_CREDENTIALS: gcp-key.json
        run: |
          TIMESTAMP=$(date +"%Y-%m-%d_%H-%M-%S")
          gsutil cp model.joblib gs://heroic-throne-473405-m8-week1ga/models/model_${TIMESTAMP}.joblib
          
      # - name: Pull data & model from DVC
      #   env:
      #     GOOGLE_APPLICATION_CREDENTIALS: gcp-key.json
      #   run: |
      #     dvc pull
          
      - name: Run tests
        run: pytest --maxfail=1 --disable-warnings -q

      - name: Post results as comment
        env:
          REPO_TOKEN: ${{ secrets.GH_PAT }}
        run: |
          pytest --maxfail=1 --disable-warnings -q > result.txt
          cat result.txt
          echo "### CI Test Report" > report.md
          echo "\`\`\`" >> report.md
          cat result.txt >> report.md
          echo "\`\`\`" >> report.md
          cml comment create report.md
